.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

android/.gradle/
android/local.properties
android/keystore.properties
android/signing/*.jks
android/signing/*.keystore

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

admin/node_modules/
admin-kf/node_modules/
node_modules/

*.log
vivo_*.txt
.DS_Store
